
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

[class*="col-"] {
  margin-bottom: 15px;
}

.task {
  margin-bottom: 5px;
}

.sidenav {
  width: 13%;
  position: fixed;
  z-index: 1;
  top: 62px;
  background: #efefef;
  overflow-x: hidden;
  padding: 15px;
}